
binaural_audio/Bounces/scare_voice_editted.aif
binaural_audio/Bounces/nice_voice_editted.aif
first_test_ambisonics_logicRecording1.mov
third.mov
second.mov
game_2.mov
fullRunChestShot.mov
niceVoice.mov
binaural_audio/Bounces/new_first_audio.aif
binaural_audio/Bounces/full_run_chest.aif
binaural_audio/Bounces/full run.aif
binaural_audio/binaural_audio.logicx/Resources/ProjectInformation.plist
binaural_audio/binaural_audio.logicx/Media/Audio Files/Untitled_1#02.aif
binaural_audio/binaural_audio.logicx/Alternatives/000/WindowImage.jpg
binaural_audio/binaural_audio.logicx/Alternatives/000/ProjectData
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/03/ProjectData
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/03/MetaData.plist
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/02/ProjectData
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/02/MetaData.plist
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/01/ProjectData
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/01/MetaData.plist
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/00/ProjectData
binaural_audio/binaural_audio.logicx/Alternatives/000/Project File Backups/00/MetaData.plist
binaural_audio/binaural_audio.logicx/Alternatives/000/MetaData.plist
binaural_audio/binaural_audio.logicx/Alternatives/000/DisplayStateArchive
binaural_audio/binaural_audio.logicx/Alternatives/000/DisplayState.plist
binaural_audio/Audio Files/Untitled_1#02.aif
binaural_audio/Audio Files/second fullrun#02.aif
binaural_audio/Audio Files/second fullrun#01.aif
binaural_audio/Audio Files/scaryVoice.aif
binaural_audio/Audio Files/P1350392.wav
binaural_audio/Audio Files/niceVoice.aif
binaural_audio/Audio Files/binaural_audio_4#02.aif
binaural_audio/.musicapps-project-folder
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_23-16-57.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_23-03-23.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_22-47-31.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_22-32-44.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_22-16-30.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_22-02-57.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_21-49-22.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_21-34-33.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_21-16-26.prproj
Adobe Premiere Pro Auto-Save/game_2_sonic_surfer-2020-03-26_21-02-52.prproj
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/Peak Files/fbd0a673-5b77-405a-b6b9-788c497f10cf+ecdf64f9-3a34-2206-e003-358800000049 48000.pek
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/Peak Files/9cc385ee-d01f-4955-a4cc-ef362a6127b3+fcbf1a12-5342-d3a7-a101-cb2700000049 48000.pek
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/Peak Files/621ea646-fdd7-43f8-8657-9a239d562f82+6307f6bc-db00-9df9-b94a-df7c00000049 48000.pek
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/fbd0a673-5b77-405a-b6b9-788c497f10cf+ecdf64f9-3a34-2206-e003-358800000049 48000.cfa
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/9cc385ee-d01f-4955-a4cc-ef362a6127b3+fcbf1a12-5342-d3a7-a101-cb2700000049 48000.cfa
Adobe Premiere Pro Audio Previews/game_2_sonic_surfer.PRV/621ea646-fdd7-43f8-8657-9a239d562f82+6307f6bc-db00-9df9-b94a-df7c00000049 48000.cfa
